@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Roboto:wght@500&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    font-family: 'Abyssinica SIL', serif, 'Times New Roman', Times, serif;
    background: url("../img/pc_bg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blur {
    backdrop-filter: blur(5px); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

* {
    scrollbar-width: thin;
    scrollbar-color: #222 #444;
}

*::-webkit-scrollbar {
    width: 10px; 
  }
  
*::-webkit-scrollbar-track {
    background: #111;
}

*::-webkit-scrollbar-thumb {
    background-color: #222; 
    border-radius: 20px; 
    border: 2px solid #444; 
}

preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 1000;
}





section {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: #111;
    overflow-y: hidden;
}

h2 a {
    text-decoration: none;
    color: #FBFBFD;
}

p a {
    text-decoration: none;
    color: #FBFBFD;
}





.home {
    overflow-x: hidden;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.home-content-container {
    width: 87vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logos-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 10vh;
}

.lines-container {
    width: 87vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.l1 {
    width: 25vw;
    height: 0.5vh;
    background-color: #FBFBFD;
    border-radius: 1vw;
    margin-top: 3vh;
}

.l2 {
    width: 18vw;
    height: 0.5vh;
    background-color: #FBFBFD;
    border-radius: 1vw;
    margin-top: 3vh;
}

.content-first {
    width: 87vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vw;
    position: relative;
    padding-bottom: 5vh;
}

.content-first > h1 {
    color: #FBFBFD;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    font-size: 5vw;
}

.content-first > h2 {
    color: #FBFBFD;
    text-transform: uppercase;
    font-size: 2vw;
}

.content-first > h1 span {
    position: relative;
}

.content-first > h2 span {
    position: relative;
}

.container-buttons {
    position: relative;
    top: 5vh;
    display: flex;
}

.btn-first {
    border : 2px solid #FBFBFD;
    outline: none;
    background: transparent;
    font-size: 3vh;
    padding: 1.2vh 4vw;
    color: #FBFBFD;
    font-family: 'Abyssinica SIL', serif, 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.b1 {
    margin-right: 3vw;
}

.b2 {
    margin-right: 3vw;
}

.btn-first:hover {
    background-color: #FBFBFD;
    color: #111;
}

.pp-container {
    position: absolute;
    top: 5vh;
}

.pp {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.logos {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bulle {
    width: 4.5vw;
    height: 4.5vw;
    margin: 1vh 0;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logos-img {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 10%;
    border: 0.4vw solid #FBFBFD;
    background-color: #FBFBFD;
    transition: 0.3s;
}

.logos-img:hover {
    width: 5vw;
    height: 5vw;
}

.mousey {
    position: fixed;
    bottom: 4vh;
    left: 50%;
    transform: translateX(-50%);
    width: 0.2vw;
    padding: 0.4vw 0.8vw;
    height: 1.8vw;
    border: 0.15vw solid #FBFBFD;
    border-radius: 35%;
    opacity: 0.75;
    box-sizing: content-box;
  }

  .scroller {
    width: 0.2vw;
    height: 0.4vw;
    border-radius: 25%;
    background-color: #FBFBFD;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }

  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(0.8vh); opacity: 0;}
  }





.discover {
    display: flex;
    flex-direction: column;
    position: relative;
}

.discover-title-container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.discover-profile-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-title {
    color: #FBFBFD;
    opacity: 0;
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    align-self: flex-end;
}

.discover-profile {
    opacity: 0;
    color: #FBFBFD;
    text-align: justify;
    font-size: 2vw;
    width: 60%;
}





.education {
    background-color: #FBFBFD;
    color: #111;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.education-title-container {
    height: 20vh;
    width: 100%;
    position: relative;
}

.education-list-container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.education-title {
    color: #111;
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    bottom: 0;
}

.education-list {
    position: absolute;
    text-align: center;
    font-size: 1.3vw;
    width: 65%;
    right: 0;
    list-style-type: none;
}

.education-list li {
    margin-bottom: 5vh;
}





.projects {
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.projects-title-container {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-title {
    color: #FBFBFD;
    font-size: 5vw;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
    align-self: flex-end;
}

.carousel {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owl-carousel-stage-outer {
    height: 73vh;
}

.owl-dots {
    height: 2vw;
}

.project-content {
    text-align: center;
    color: #FBFBFD;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60vh;
    max-height: 73vh;
    width: 45vw;
}

.project-content h1 {
    font-size: 2.5vw;
}

.project-content h2 {
    font-size: 1.2vw;
    margin: 2vh 0;
}

.project-content h4 {
    margin-top: .6vh;
    font-size: 1vw;
}

.bula img {
    max-width: 75%;
    margin: 0 auto;
}

.ai img {
    max-width: 60%;
    margin: 0 auto;
}

.boulderdash img {
    max-width: 90%;
    margin: 0 auto;
}

.image-proc img {
    max-width: 90%;
    margin: 0 auto;
}

.website img {
    max-width: 90%;
    margin: 0 auto;
}

.android img {
    max-width: 48%;
    margin: 0 auto;
}


.photoshop img {
    max-width: 31%;
    margin: 0 auto;
}

.swift img {
    max-width: 48%;
    margin: 0 auto;
}

.wifibot img {
    max-width: 80%;
    margin: 0 auto;
}

.povray img {
    max-width: 80%;
    margin: 0 auto;
}

.werewolf img {
    max-width: 45%;
    margin: 0 auto;
}

.blender img {
    max-width: 68%;
    margin: 0 auto;
}

.unity img {
    max-width: 85%;
    margin: 0 auto;
}






footer {
    height: 5vh;
    width: 100%;
    font-size: 2vh;
    color: #FBFBFD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    text-align: center;
    padding: 0 5vw;
    z-index: 1000;
}

footer a {
    color: #FBFBFD;
    font-style: italic;
}

.backbutton {
    width: 4vh;
    background: none;
    position: fixed;
    right: 0.2vw;
    cursor: pointer;
}


.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

.parallax > use {
    animation: move-forever 50s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -4s;
    animation-duration: 14s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -6s;
    animation-duration: 20s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -8s;
    animation-duration: 26s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -10s;
    animation-duration: 40s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }