@media screen and (max-width: 480px) {

    .home {
        flex-direction: column;
    }

    .home-content-container {
        width: 100vw;
        height: 85%;
    }

    .lines-container {
        height: 10%;
        width: 100vw;
    }

    .content-first {
        width: 100vw;
        height: 90%;
    }

    .logos-container {
        justify-content: center;
        align-items: center;
        height: 15%;
        width: 100vw;
        padding: 0;
    }

    .l1 {
        height: 0.6vh;
    }

    .l2 {
       height: 0.6vh;
    }

    .content-first > h1 {
        font-size: 15vw;
    }
    
    .content-first > h2 {
        font-size: 8.5vw;
    }

    .container-buttons {
        flex-direction: column;
    }

    .btn-first {
        margin: 1.5vh 0;
        width: 40vw;
        padding: 1vh;
        font-size: 6vw;
    }

    .pp-container {
        position: fixed;
        right: 4vw;
        top: 4vw;
    }

    .pp {
        width: 22vw;
        height: 22vw;
    }

    .logos {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .bulle {
        width: 15vw;
        height: 15vw;
    }

    .logos-img {
        width: 15vw;
        height: 15vw;
    }

    .logos-img:hover {
        width: 15vw;
        height: 15vw;
    }

    .mousey {
        display: none;
    }

    .scroller {
        display: none;
    }

    .discover-title {
        font-size: 12vw;
    }

    .discover-profile {
        width: 80%;
        font-size: 5vw;
    }

    .education-title {
        font-size: 12vw;
    }

    .education-list {
        width: 80%;
        font-size: 3.5vw;
        text-align: justify;
    }

    .projects-title {
        font-size: 12vw;
    }

    .carousel {
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .owl-carousel-stage-outer {
        height: 73vh;
    }
    
    .owl-dots {
        height: 2vw;
    }
    
    .project-content {
        text-align: center;
        color: #FBFBFD;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 1vh 2vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 60vh;
        max-height: 73vh;
        width: 100vw;
    }

    .project-content h1 {
        font-size: 9vw;
        margin: 0 2vw;
    }
    
    .project-content h2 {
        font-size: 5.5vw;
        margin: 0 2vw;
        margin-bottom: 2vh;
    }

    .project-content h4 {
        font-size: 3.5vw;
    }

    .ai img {
        max-width: 70%;
        margin: 0 auto;
    }
    
    .boulderdash img {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .image-proc img {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .website img {
        max-width: 85%;
        margin: 0 auto;
    }
    
    .swift img {
        max-width: 68%;
        margin: 0 auto;
    }
    
    .wifibot img {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .povray img {
        max-width: 80%;
        margin: 0 auto;
    }
    
    .werewolf img {
        max-width: 50%;
        margin: 0 auto;
    }
    
    .photoshop img {
        max-width: 40%;
        margin: 0 auto;
    }
    
    .blender img {
        max-width: 75%;
        margin: 0 auto;
    }
    
    .unity img {
        max-width: 85%;
        margin: 0 auto;
    }

    .backbutton {
        display: none;
    }

}